body {
    background: linear-gradient(90deg, lightgray, whitesmoke);
}

.header {
    background: linear-gradient(90deg, blue, midnightblue);
    text-align: center;
    color: whitesmoke;
}

.current-forecast {
    border: 1px solid black;
}

.future-forecast {
    background-color: midnightblue;
    color: whitesmoke;
}

.current-forecast img {
    width: 5%;
    height: auto;
}

.future-forecast img {
    width: 15%;
    height: auto;
}